/*===============================

- YOUNHOSO v4.0 -

author: YOUNHOSO PUBLISHER
email: thdbsgh3443@gmail.com
Copyright 2017-2018

=================================*/
/*========= WEB FONT =========*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

/*========= TITLE SYSTEM =========*/
html {font-size: 10px;}
body {font-family: 'Montserrat','Nanum Gothic', sans-serif;}
[class*="para_"],
[class*="tit_"]{ 
	color: #333; 
	line-height:1.5;
}
[class*="tit_"]{font-weight: 600;}
[class*="para_"]{font-weight: 400;}

.tit_16  {font-size: 1.6rem;}
.tit_18  {font-size: 1.8rem;}
.tit_20  {font-size: 2rem;}
.tit_22  {font-size: 2.2rem;}
.tit_24  {font-size: 2.4rem;}
.tit_26  {font-size: 2.6rem;}
.tit_28  {font-size: 2.8rem;}
.tit_30  {font-size: 3.0rem;}

/*========= PARAGRAPH SYSTEM =========*/
p,li,a,td,th,strong { /*본문글씨 기본 크기 16px*/
	font-size: 1.6rem;
	font-weight: normal;
	vertical-align: top;
}
p,td {line-height: 1.8;}

.txt_12	{font-size:1.2rem;} /*본문글씨 크기 종류들*/
.txt_14	{font-size:1.4rem;}
.txt_16	{font-size:1.6rem;}
.txt_18	{font-size:1.8rem;}
.txt_20	{font-size:2rem;}

/*========= BTN SYSTEM =========*/
[class*="btn_bg_"],
[class*="btn_line_"] {
	display: inline-block;
	padding: 20px 55px;
	text-align: center;	
	border-radius: 0;
	-webkit-transition: all .35s ease-in-out;	
	   -moz-transition: all .35s ease-in-out;	
	     -o-transition: all .35s ease-in-out;	
		    transition: all .35s ease-in-out;	
}
.btn_bg_Dpink          {color: #fff; border: 2px solid #ed3c5f; border-radius: 3rem; background:linear-gradient(to right, #ed3c5f 0%, #ed3c5f 100%);}
.btn_bg_Dpink:hover    {color: #333; border-color:#ed3c5f; background:transparent; } 
.btn_bg_glay            {color: #333; border: 2px solid #333; border-radius: 3rem; border: 1px solid #333;}
.btn_bg_glay:hover      {color: #fff; background-color: #333;}
.btn_txt_underline      {text-decoration: underline;}

/*========= INPUT ELEMENT SYSTEM =========*/
[class*="in_e_"]{
	width: 100%;
	display: inline-block;
	padding: 12px 20px;
	box-sizing: border-box;
	text-align: left;	
	border-radius: 5px;
	-webkit-transition: all .35s ease-in-out;	
	   -moz-transition: all .35s ease-in-out;	
	     -o-transition: all .35s ease-in-out;	
		    transition: all .35s ease-in-out;	
}

.in_e_orange		{border:1px solid #dcdcdc;}
.in_e_orange:focus 	{border-color:#ed3c5f; -moz-outline:none; outline:none;}

.in_e_glay 			{border:1px solid #dcdcdc;}
.in_e_glay:focus 	{border-color:#333; -moz-outline:none; outline:none;}

.in_e_Dpink			{border:1px solid #dcdcdc;}
.in_e_Dpink:focus 	{border-color:#ed3c5f; -moz-outline:none; outline:none;}

.in_e_sel_menu {
	width: 100%;
    display: block;
    padding: 15px 50px 15px 15px;
    border: 2px solid #dcdcdc;
    color: #5a5a5a;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
       	 -o-appearance: none;
    		appearance: none;
}
.in_e_sel_menu:focus {border-color:#ed3c5f; -moz-outline:none; outline:none;}

.in_btn button:focus:before,
.in_btn button:focus:after {
	-webkit-transition: all .35s ease-in-out;	
	   -moz-transition: all .35s ease-in-out;	
	     -o-transition: all .35s ease-in-out;	
		    transition: all .35s ease-in-out;
}
.in_btn button:focus:before,
.in_btn button:focus:after {background:#ff5a2c;}

.in_btn button {
	width: 10px;
    height: 37px;
    border: 0px solid transparent;
    padding: 0 35px;
    position: absolute;
    top: 163px;
    right: 12.5px;
    box-sizing: border-box;
    
    -moz-outline:none;
    outline: none;
}
.in_btn button:before, 
.in_btn button:after {
	content: "";
    display: inline-block;
    width: 5px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 2px 0 0 -5px;
    transform: rotate(45deg);
}
.in_btn button:after {
	width: 10px;
    transform: rotate(-45deg);
	margin: 0 0 0 -3px;
	display: table;
	display: table-cell;
}
/*========= display table-cell SYSTEM =========*/
.table_top{height: 100%; display: table;}
.table_cell_top {vertical-align: top; display: table-cell;}

.table_middle{height: 100%; display: table;}
.table_cell_middle {vertical-align: middle; display: table-cell;}

.table_bottom {height: 100%; display: table;}
.table_cell_bottom {vertical-align: bottom; display: table-cell;}

/*========= butten_guied =========*/
.butten_guied h2{
	margin-top: 50px;
}

.butten_guied a{
	margin: 24px 14px 0 0;
}

/*========= INPUT_guied =========*/
input {margin-top: 30px;}

select {margin-top: 30px;}

.hea_guied .HE{margin: 25px 0 20px 0;}

.par_guied h2 {
	margin: 40px 0 20px 0;
}


